[core]
    pager = "delta"

[delta]
    line-numbers = true
    navigate = true
    side-by-side = true

[diff]
    colorMoved = "default"

[filter "lfs"]
    clean = "git-lfs clean -- %f"
    process = "git-lfs filter-process"
    required = true
    smudge = "git-lfs smudge -- %f"

[init]
    defaultBranch = "main"

[interactive]
    diffFilter = "delta --color-only"

[merge]
    conflictstyle = "diff3"

[pull]
    ff = "only"

[push]
    autoSetupRemote = true
    default = "current"
